.dash-cards {
  display: flex;
  gap: 10px;
}

.parent-container {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .dash-cards {
    flex-direction: column;
  }

  .parent-container {
    height: 9rem;
  }
}
